<ion-app>
  @if(isMenuEnabled){
  <ion-menu contentId="main-content" side="start" menuId="main-menu" class="side-menu">
    <ion-header>
      <ion-toolbar color="main">
        <div class="profile-section ion-padding">
          <ion-img src="assets/icon/icon.png" class="avatar"></ion-img>
          <div class="welcome-box">
            <ion-label class="welcome-text">
              Welcome, <strong>{{ userData.name }}</strong>
            </ion-label>
          </div>

        </div>
      </ion-toolbar>
    </ion-header>

    <ion-content color="main">
      <ion-list lines="none" style="background: var(--ion-color-main);">
        @for (item of menuItems; track $index) {
        <ion-item [routerLink]="item.route" class="list-items" routerLinkActive="active-item"
          [routerLinkActiveOptions]="{ exact: true }" (click)="onSelectItems()">
          <ion-icon [name]="item.icon" slot="start" color="light"></ion-icon>
          {{ item.title }}
        </ion-item>
        }
      </ion-list>
    </ion-content>

    <ion-footer>
      <ion-toolbar class="p-0 bg-main" style="--min-height: 0;">
        <ion-list class="p-0 bg-main">
          <ion-item (click)="onLogout()" class="list-items danger cursor-pointer">
            <ion-icon name="log-out" slot="start" color="light"></ion-icon>
            Logout
          </ion-item>
        </ion-list>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  }

  <!-- ✅ Main content wrapper -->
  <div id="main-content" class="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>