@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

img {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

ion-menu ion-content {
  --padding: 0px;
  --background: #354b6f;
  --color: #343a40;
}

ion-list {
  background: #354b6f;
  padding: 4px;
}

ion-item.item-link {
  --background: #354b6f;
  --color: #ffffff;
  --border-radius: 8px;
  padding: 0px 14px;
  font-weight: bold;

  ion-icon {
    color: #ffffff;
  }
}

ion-item.item-link.selected {
  --background: #3b5d80;
  --color: #ffffff;
  padding: 0px 14px;

  ion-icon {
    color: #ffffff;
  }
}

ion-header {
  background: #354b6f;
  --color: #ffffff;
}

.logo-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;

  .logo-name {
    font-family: "Public Sans", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    font-style: italic;
  }
}

.user-container {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background-color: #3b5d80;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

  .user-info {
    .username {
      font-size: 16px;
      font-weight: bold;
      color: #ffffff;
      text-transform: capitalize;
    }

    .email {
      color: #bebebe;
    }
  }
}

.footer {
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media (min-width: 990px) {
  ion-menu {
    max-width: 300px;
  }
}

@media (max-width: 990px) {
  ion-item.item-link {
    font-size: 14px;
    ion-icon {
      color: #ffffff;
    }
  }

  ion-header {
    background: #354b6f;
    --color: #ffffff;
  }

  .logo-container {
    .logo-name {
      font-size: 20px;
    }
  }

  .user-container {
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background-color: #3b5d80;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

    .user-info {
      .username {
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
        text-transform: capitalize;
      }
    }
  }

  .footer {
    font-size: 12px;
  }
}
