@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

img {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

ion-menu ion-content {
  --padding: 0px;
  --background: #47729c;
  --color: #343a40;
}

ion-list {
  background: #47729c;
  padding: 4px;
}

ion-item.item-link {
  --background: #47729c;
  --color: #ffffff;
  --border-radius: 8px;
  padding: 0px 14px;
  font-weight: bold;

  ion-icon {
    color: #ffffff;
  }
}

ion-item.item-link.selected {
  --background: #3b5d80;
  --color: #ffffff;
  padding: 0px 14px;

  ion-icon {
    color: #ffffff;
  }
}

ion-header {
  background: #47729c;
  --color: #ffffff;
}

.logo-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;

  .logo-name {
    font-family: "Public Sans", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    font-style: italic;
  }
}

.user-container {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background-color: #3b5d80;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

  .username {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
  }
}

@media (min-width: 990px) {
  ion-menu {
    max-width: 300px;
  }
}
