<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" *ngIf="display">
      <ion-header class="ion-padding">
        <div class="logo-container ion-padding">
          <img src="assets/icon/logo.png" alt="" width="100" height="100" />
        </div>
        <div class="user-container">
          <div>
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
          </div>
          <ion-text class="username">luqman shamsul</ion-text>
        </div>
      </ion-header>
      <ion-content>
        <div class="menu-container ion-padding-top ion-padding-bottom">
          <ion-list>
            <ion-item button routerLink="/dashboard" routerDirection="root" routerLinkActive="selected" lines="none" class="item-link" >
              <ion-icon slot="start" name="home-outline"></ion-icon>
              <ion-label>Dashboard</ion-label>
            </ion-item>
          </ion-list>
          <ion-accordion-group [multiple]="true" [value]="['first', 'third']" class="ion-padding-top" >
            <ion-accordion value="first">
              <ion-item slot="header" style="--background: #354b6f; font-weight: 600; color: white" >
                <ion-label>Financial</ion-label>
              </ion-item>
              <ion-list *ngFor="let app of appRoutes" slot="content">
                <ion-item button [routerLink]="app.url" routerDirection="root" routerLinkActive="selected" lines="none" class="item-link" >
                  <ion-icon slot="start" [name]="app.icon"></ion-icon>
                  <ion-label>{{ app.title }}</ion-label>
                </ion-item>
              </ion-list>
            </ion-accordion>
          </ion-accordion-group>
        </div>
      </ion-content>
      <ion-footer>
        <ion-button expand="full" routerLink="/settings" routerDirection="root" class="ion-no-margin" style="--background: #345575" >
          <ion-icon slot="start" name="settings-outline"></ion-icon>
          <div class="ion-padding" class="footer">Settings</div>
        </ion-button>
        <ion-button expand="full" (click)="logout()" routerDirection="root" class="ion-no-margin" color="danger" >
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <div class="ion-padding" class="footer">Logout</div>
        </ion-button>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
