<ion-content [fullscreen]="false" color="light" class="ion-padding">
  <div class="login-container">
    <ion-card class="login-card">
      <ion-card-header class="ion-text-center">
        <ion-img src="assets/icon/icon.png" class="logo"></ion-img>
        <ion-card-title class="title">Register</ion-card-title>
        <!-- <ion-card-subtitle class="subtitle">Login to manage your expenses</ion-card-subtitle> -->
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="register()">

          <ion-item class="input-item" lines="none">
            <ion-icon name="person-outline" slot="start" class="icon"></ion-icon>
            <ion-label position="stacked">Name</ion-label>
            <ion-input formControlName="name" type="email" placeholder="Enter your name"></ion-input>
          </ion-item>

          <div class="ml-23">
            <app-error-message *ngFor="let val of validation?.name" [field]="form.get('name')" [error]="val.error"
              [message]="val.message"></app-error-message>
          </div>

          <ion-item class="input-item" lines="none">
            <ion-icon name="call-outline" slot="start" class="icon"></ion-icon>
            <ion-label position="stacked">Phone Number</ion-label>
            <ion-input formControlName="phone_number" type="email" placeholder="01234567890"></ion-input>
          </ion-item>

          <div class="ml-23">
            <app-error-message *ngFor="let val of validation?.phone_number" [field]="form.get('phone_number')"
              [error]="val.error" [message]="val.message"></app-error-message>
          </div>


          <ion-item class="input-item" lines="none">
            <ion-icon name="mail-outline" slot="start" class="icon"></ion-icon>
            <ion-label position="stacked">Email</ion-label>
            <ion-input formControlName="email" type="email" placeholder="example@domain.com"></ion-input>
          </ion-item>

          <div class="ml-23">
            <app-error-message *ngFor="let val of validation?.email" [field]="form.get('email')" [error]="val.error"
              [message]="val.message"></app-error-message>
          </div>

          <ion-item class="input-item" lines="none">
            <ion-icon name="lock-closed-outline" slot="start" class="icon"></ion-icon>
            <ion-label position="stacked">Password</ion-label>
            <ion-input formControlName="password" [type]="showPassword?'text':'password'"
              placeholder="Enter your password"></ion-input>
            <ion-icon [name]="showPassword? 'eye-off-outline':'eye-outline'" slot="end"
              class="cursor-pointer showPassword" (click)="showPasswordToggle()"></ion-icon>
          </ion-item>

          <div class="ml-23">
            <app-error-message *ngFor="let val of validation?.password" [field]="form.get('password')"
              [error]="val.error" [message]="val.message"></app-error-message>
          </div>

          <ion-button expand="block" type="submit" shape="round" class="register-btn" [disabled]="form.invalid">
            Register
          </ion-button>

          <div class="register-text ion-text-center">
            <p>Already have an account? <ion-text color="primary" routerLink="/login">Login</ion-text></p>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>