.fab-with-label {
  display: flex;
  align-items: center;
  gap: 8px;
  /* space between button and label */
}

.fab-label {
  background: var(--ion-color-dark);
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 14px;
}