.account-container {
  background: #354b6f;
  color: #fff;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #fff;
}

.add-account-button {
  --background: #ffffff;
  --color: #47729c;
  --border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
}

ion-row {
  display: flex;
  justify-content: center;
}

ion-col {
  padding: 0px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

ion-card.account-card {
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
  width: 100%;
  margin: 8px;
  padding: 14px 0px;
}

ion-card.account-card:hover {
  transform: scale(1.02);
}

.card-header {
  display: flex;
  align-items: center;
  padding: 0px;
}

.account-icon {
  font-size: 28px;
  color: #4a90e2;
}

.account-title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  text-align: center;
}

.card-balance {
  font-size: 16px;
  font-weight: bold;
  color: #2b7a78;
  text-align: center;
  padding: 0px;
}

//transaction
ion-card {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.title-row {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.transactions-list {
  width: 100%;
}

.transaction-item {
  display: flex;
  align-items: center;
  padding: 8px 6px;
  border-bottom: 1px solid #eee;
}

ion-avatar {
  border-radius: 50%;
  padding: 6px;
  margin-right: 12px;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.income {
    background-color: rgba(var(--ion-color-success-rgb), 0.1);
  }
  &.expenses {
    background-color: rgba(var(--ion-color-danger-rgb), 0.1);
  }
}

.transaction-icon {
  color: #2ecc40;
  font-size: 24px;
  vertical-align: middle;

  &.income {
    color: var(--ion-color-success-tint);
  }
  &.expenses {
    color: var(--ion-color-danger-tint);
  }
}

.transaction-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-desc {
  font-weight: 600;
  font-size: 16px;
  color: #333;
}

.transaction-date {
  font-size: 13px;
  color: #777;
}

.transaction-amount {
  font-weight: 600;
  font-size: 16px;
}

.transaction-amount {
  text-align: right;
  &.income {
    color: var(--ion-color-success-tint);
  }
  &.expenses {
    color: var(--ion-color-danger-tint);
  }
}

.no-transactions {
  justify-content: center;
  padding: 20px;
  color: #666;
  font-style: italic;
}

@media (max-width: 790px) {
  .title {
    font-size: 16px;
  }

  .add-account-button {
    font-size: 12px;
  }

  .account-icon {
    font-size: 20px;
    color: #4a90e2;
  }

  .account-title {
    font-size: 12px;
    font-weight: 600;
    color: #333;
  }

  .card-balance {
    font-size: 12px;
    font-weight: bold;
    color: #2b7a78;
    text-align: center;
    padding: 0px;
  }

  .transaction-desc {
    font-size: 15px;
  }

  .transaction-amount {
    font-size: 15px;
  }

  ion-avatar {
    min-width: 36px;
    min-height: 36px;
    padding: 4px;
  }

  .transaction-item {
    padding: 8px 0px;
  }
}
