<app-header></app-header>

<ion-content>
  <!-- Account Section -->
  <div class="account-container ion-padding">
    <div class="title-row">
      <ion-label class="title">Accounts List</ion-label>
      <ion-button
        fill="solid"
        size="small"
        color="light"
        class="add-account-button"
      >
        <ion-icon name="add-circle-outline" slot="start"></ion-icon>
        Add Account
      </ion-button>
    </div>

    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col
          size="6"
          size-sm="6"
          size-md="2"
          *ngFor="let account of accounts"
        >
          <ion-card class="account-card">
            <ion-card-header class="card-header">
              <ion-icon name="card" class="account-icon"></ion-icon>
              <ion-card-title class="account-title"
                >{{ account.name }}</ion-card-title
              >
            </ion-card-header>
            <ion-card-content class="card-balance">
              <ion-label class="balance-label">
                {{ account.balance | currency: 'RM ': 'symbol' }}
              </ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Transactions Section -->
  <div class="transactions-container">
    <ion-card>
      <ion-card-content>
        <div class="title-row">
          <ion-label class="title" style="color: #000">Recent Transactions</ion-label>
        </div>

        <ion-list class="transactions-list ion-no-padding">
          <ion-item class="transaction-item" lines="none" *ngFor="let transaction of transactions">
            <ion-avatar [class.income]="transaction.type === 'income'" [class.expenses]="transaction.type === 'expense'">
              <ion-icon [name]="transaction.icon" class="transaction-icon" [class.income]="transaction.type === 'income'" [class.expenses]="transaction.type === 'expense'"></ion-icon>
            </ion-avatar>
            <div class="transaction-details">
              <div>
                <ion-label class="transaction-desc">{{transaction.description}}</ion-label>
                <ion-label class="transaction-date">{{transaction.account}}</ion-label>
              </div>
              <div>
                <ion-label class="transaction-amount" [class.income]="transaction.type === 'income'" [class.expenses]="transaction.type === 'expense'">
                  {{ transaction.amount | currency:'RM ':'symbol' }}
                </ion-label>
                <ion-label class="transaction-date">{{transaction.date | date:'MMMM d, h:mm a'}}</ion-label>
              </div>
            </div>
          </ion-item>

          <!-- If no transactions -->
          <!-- <ion-item class="no-transactions">
            <ion-label>No recent transactions</ion-label>
          </ion-item> -->
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
