<app-header></app-header>

<ion-content>
  <!-- Account Section -->
  <div class="account-container ion-padding">
    <div class="title-row">
      <ion-label class="title">Accounts List</ion-label>
      <ion-button fill="solid" size="small" color="light" class="add-account-button" >
        <ion-icon name="add-circle-outline" slot="start"></ion-icon>
        Add Account
      </ion-button>
    </div>

    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6" size-sm="6" size-md="2" *ngFor="let account of accounts" >
          <ion-card class="account-card" button>
            <ion-card-header class="card-header">
              <ion-icon [name]="account.icon" class="account-icon"></ion-icon>
              <ion-card-title class="account-title">
                {{ account.name }}
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="card-balance">
              <ion-label class="balance-label">
                {{ account.balance | currency: 'RM ': 'symbol' }}
              </ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Transactions Section -->
  <div class="transactions-container">
    <ion-card>
      <ion-card-content>
        <div class="title-row">
          <ion-label class="title" style="color: #000">Recent Transactions</ion-label>
        </div>

        <ion-list class="transactions-list ion-no-padding">
          <ion-item class="transaction-item" lines="none" *ngFor="let transaction of transactions" button>
            <div>
              <ion-avatar [class.income]="transaction.type === 'income'" [class.expenses]="transaction.type === 'expense'">
                <ion-icon [name]="transaction.icon" class="transaction-icon" [class.income]="transaction.type === 'income'" [class.expenses]="transaction.type === 'expense'"></ion-icon>
              </ion-avatar>
            </div>
            <div class="transaction-details">
              <div>
                <ion-label class="transaction-desc">{{transaction.description}}</ion-label>
                <ion-label class="transaction-date">{{transaction.account}}</ion-label>
              </div>
              <div>
                <ion-label class="transaction-amount" [class.income]="transaction.type === 'income'" [class.expenses]="transaction.type === 'expense'">
                  {{ transaction.amount | currency:'RM ':'symbol' }}
                </ion-label>
                <ion-label class="transaction-date">{{transaction.date | date:'MMM d, h:mm a'}}</ion-label>
              </div>
            </div>
          </ion-item>
        </ion-list>

        <div class="show-more">
          <ion-label>Show More</ion-label>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Budget Section -->
   <div class="budget-container">
    <ion-card class="ion-no-padding">
      <ion-card-content>
        <div class="title-row">
          <ion-label class="title" style="color:#000">Budgets</ion-label>
        </div>

        <ion-list class="budget-list">
          <ion-item class="budget-item" lines="none" *ngFor="let budget of budgets" button>
            <div>
              <ion-avatar>
                <ion-icon class="budget-icon" name="wallet" color="secondary"></ion-icon>
              </ion-avatar>
            </div>
            <div class="budget-detail">
              <div class="detail-top">
                <ion-label class="budget-name">{{budget.budget_name | titlecase }}</ion-label>
                <div>
                  <ion-label class="budget-amount">{{budget.amount - budget.used | currency:'RM ' }}</ion-label>
                  <ion-label class="budget-percent" [color]="getProgressColor('percent',(budget.used / budget.amount))">{{ (budget.used / budget.amount) | percent:'1.0-0' }}</ion-label>
                </div>
              </div>
              <ion-progress-bar [value]="(budget.used / budget.amount)" class="budget-progress" [color]="getProgressColor('percent',(budget.used / budget.amount))"></ion-progress-bar>
              <ion-label class="budget-date">
                <ion-icon name="time-outline"></ion-icon>
                <ion-text>{{budget.updated_at | date:'MMM d, h:mm a'}}</ion-text>
              </ion-label>
            </div>
          </ion-item>
        </ion-list>

        <div class="show-more">
          <ion-label>Show More</ion-label>
        </div>
      </ion-card-content>
    </ion-card>
   </div>
   
</ion-content>
