<app-header [title]="'Dashboard'"></app-header>

<ion-content [fullscreen]="false">
  <ion-card class="m-0 rounded-0" style="--background: var(--ion-color-main)">
    <ion-card-content class="m-8 p-4">
      <ion-grid class="m-0">
        <ion-row>
          <ion-col>
            <ion-label class="title align-middle">Your Accounts</ion-label>
          </ion-col>
        </ion-row>

        @if (accountData.length == 0) {
        <!-- Label If No Accounts -->
        <ion-row class="justify-content-center pt-8">
          <ion-label class="no-acc-text">
            "Looks like you haven't added any accounts yet!"
          </ion-label>
        </ion-row>
        }

        <ion-row class="justify-content-center pt-8">
          <!-- Accounts Card -->
          @for (item of accountData; track $index) {
          <ion-col class="justify-content-center" sizeMd="4" size="6">
            <ion-card class="acc-card w-100 align-middle" (click)="addAccount()">
              <ion-card-content class="justify-content-center p-12 fs-20">
                <ion-grid class="m-0 p-0">
                  <ion-row>
                    <ion-col class="justify-content-center p-0">
                      <ion-icon [name]="item?.icon" color="main"></ion-icon>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="justify-content-center p-0">
                      <ion-label class="title-label text-center" color="dark">{{item?.account_name}}</ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="justify-content-center p-0">
                      <ion-label class="title-label">{{item?.balance | currency:'RM '}}</ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
          }

          <!-- Add Account Card -->
          <ion-col class="justify-content-center" sizeMd="4" size="6">
            <ion-card class="add-acc-card w-100 align-middle" (click)="addAccount()">
              <ion-card-content class="justify-content-center p-12 fs-20">
                <ion-grid class="m-0 p-0">
                  <ion-row>
                    <ion-col class="justify-content-center">
                      <ion-icon name="add-circle" color="light"></ion-icon>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="justify-content-center">
                      <ion-label class="title-label">Add Account</ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>