ion-col {
  padding: 0;
}

.add-acc-card {
  --background: transparent;
  border: 1px dashed white;
  cursor: pointer;


  .title-label {
    font-size: 14px;
    color: #fff;
  }

  transition: all 0.3s ease;
  transform: translateY(0);

  &:hover {
    transform: translateY(-5px);
    // box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);
  }
}

.acc-card {
  --background: #fff;
  cursor: pointer;


  .title-label {
    font-size: 14px;
    font-weight: 600;
    color: var(--ion-color-main);
  }

  transition: all 0.3s ease;
  transform: translateY(0);

  &:hover {
    transform: translateY(-5px);
    // box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);
  }
}

.no-acc-text {
  text-align: center;
  color: #cecece;
  font-style: italic;
  font-size: 16px;

  @media (max-width:700px) {
    font-size: smaller;
  }
}

.show-more {
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  color: var(--ion-color-primary);
  cursor: pointer;

}

.title-card {
  margin: 16px 16px 12px;

  &.center {
    text-align: center;
  }
}

.chart {
  width: 35vw;

  @media (max-width:700px) {
    width: 100vw;
  }
}

.sticky-segment {
  position: sticky;
  top: 0; // Stick to top
  z-index: 999; // Stay above content
  background: var(--ion-color-bg-main); // Prevent transparency issues
}

.no-transaction {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}